# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
evn/
env/
ENV/
backup/*
backup/
/.pytest_cache/*
build/
develop-eggs/
dist/
downloads/
eggs/
#lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
Excel_from_document.xlsx
Excel_reference.xlsx

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.log.*

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# custom rules
allure/
report/
allure-report/
.idea
